/* Navigation */
body{
    color: white;
    text-shadow: 0 0 3px #000099, 0 0 5px #000099;
    font-size: 20px;
    background-image: url("fond.jpg");
    background-repeat : repeat-y; 
    background-attachment : fixed;
    width: 80%;
    margin: auto;
}
section{
    border-radius: 25px;
    padding: 100px;
    display:flex;
    justify-content: center;
}
nav{
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;

}
h3{
    text-decoration: underline;
}
h2{
    font-size: 36px;
}
a:link, a:visited{
    color: white;
    
}
nav > a:hover{
    background: rgba(0, 0, 153, 0.8);
}
/* Accueil */
h1{
    font-size: 40px;
}
/* A propos */
#a_propos{
    padding: 50px;
    background: rgba(0, 0, 153, 0.8); /* Green background with 30% opacity */
    display:flex;
    justify-content: space-around;
    align-items:center;
}
#a_propos > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:79%;
}
nav{
    background: rgba(51, 153, 255, 0.8);
    border-radius: 25px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav > a{
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 30px;
}
/* Compétences */

#comp{
    flex-direction: column;
    text-align: center;
}
#comp > div{
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding: 20px;
}
#comp > div > div{
    width: 50%;
    padding: 0px 20px;
}

/* Mes real */

#real{
    background: rgba(0, 0, 153, 0.8);
    flex-direction: column;
    text-align: center;
}
#real > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    padding: 20px;
}
#real > div > div{
    width: 30%;
    padding: 0px 50px;
}


/* contact */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Pied */

footer{
    border-radius: 25px;
    padding: 50px;
    background: rgba(0, 0, 153, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > h3,p{
    padding: 0px 20px;
}









